body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}
img{
    width: 20%;
    height: 7%;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.layer1{
    max-width: 100%;
    padding: 15px;
}

img{
    display: inline-block;
    margin-left: 10%;
}

body div{
    width: 55%;
    margin: 20px auto;
}


.time{
    display: inline-block;
    width: 22%;
    /* height: 8%; */
    margin: 0;
    padding: 20px 0px;
    margin-left: 20%;
    border: 3px solid rgb(78, 78, 78);
    border-radius: 20px;        
}

.time h3 {
    margin: 0;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 24px;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.time ol{
    margin-bottom: 0;
    max-width: fit-content;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    line-height: 200%;
}


.layer2,
.layer3,
.layer4{
    padding: 15px;
    border: 3px solid rgb(78, 78, 78);
    border-radius: 20px;
    line-height: 200%;
}